@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.announcement-body {
  display: flex;
  flex-flow: column;
  width: 80%;
  font: lighter 3.25vw "Roboto Mono";
  border-radius: 4px;
  justify-content: center;
  margin: 10px auto;
  .announcement-title {
    margin: 0;
    width: 95%;
    background-color: rgba(113, 133, 195, 0.95);
    text-align: left;
    padding-left: 5%;
    height: 1.5em;
    border-radius: 0 0 3px 0;

    b {
      display: flex;
      justify-content: flex-end;
      font-size: 6.25vw;
      float: right;
      padding-right: 5%;
    }

    b:hover {
      cursor: pointer;
    }
  }
  .announcement-message {
    color: rgb(67, 67, 67);
    overflow-x: hidden;
    user-select: text;
    margin: 0;
    padding: 0 4%;
    font-family: "Karla", serif;
    font-size: 4.5vw;
    max-height: 0;
    text-align: left;
    transition: max-height 0.5s ease-in-out;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.02);
  }
}
