@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Karla:400,700|Roboto+Mono:700&display=swap');

html, body
{
  background: rgb(243, 243, 243);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

section
{
  height: 60vh;
  overflow: hidden;
  background: #F3F3F3;
}
