@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Karla:400,700|Roboto+Mono:700&display=swap');

html, body {
  background: #F3F3F3;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

section {
  height: 60vh;
  display: flex;
  flex-flow: column;
}

.app-body {
  flex: 2;
  user-select: none;
  cursor: default;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .app-message {
    font: normal 10vw "Josefin Sans";
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

    .logo-one {
      color: black;
      font: bold 76% "Roboto Mono";
    }
  }

  .app-description {
    font: normal 4.5vw "Josefin Sans";
    color: rgba(0, 0, 0, 0.7);
    margin-top: 3%;
    padding-top: 5px;
    width: 75%;
    text-align: center;
  }
}

.logo-lahs {
  font: inherit;
  text-align: inherit;
  color: #434343;
  margin-top: inherit;
  margin-bottom: inherit;
}
